<ion-header [translucent]="true">
  <ion-toolbar color="dark"> <!-- Set a background color for the header -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/completed"></ion-back-button>
    </ion-buttons>
    <ion-title>All List</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>...</ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content" color="dark"> 
  <h1 class="custom-heading"><strong>No Reminders</strong></h1>
  <ion-card class="custom-card">
    <ion-card-content style="background-color: #272829;">



    </ion-card-content>
  </ion-card>
</ion-content>
