ion-input{
    border-style: inset;
    border-color: S2B18D9S;
    border-radius: 10%;
    width:100%;
    -webkit-text-fill-color: white;
}
ion-card{
    width: 80%;
    height: 40%;
    margin-left:150px;
}
ion-icon{
    color:18D9BC;
}