<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/all"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">New List</ion-title>
    <ion-buttons slot="end">
      <!-- Add your "Done" button here -->
      <ion-button (click)="onDoneClick()" style="color: white; background-color: #272829;">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <ion-card style="background-color: #272829;">
    <ion-card-content class="ion-text-center">
      <ion-icon name="list" style="font-size: 46px; color: white;"></ion-icon>
      <ion-input placeholder="Enter list name" style="color: white;"></ion-input>
    </ion-card-content>
  </ion-card>  
</ion-content>
