ion-content {
  --offset-top: 0; /* This ensures the content starts from the top of the screen */
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

/* Define different background colors for each card class */
ion-card.card-0 {
  background-color: #635e5e; /* Color for the first card */
}

ion-card.card-1 {
  background-color: #ff5733; /* Color for the second card */
}

ion-card.card-2 {
  background-color: #33ff57; /* Color for the third card */
}

ion-card.card-3 {
  background-color: #5733ff; /* Color for the fourth card */
}

.centered-text {
  text-align: center;
  display: block;
  margin: auto;
  font-weight: bold;
  color: black;
}

.today {
  display: block;
  margin: auto;
  font-weight: bold;
  color: black;
}

ion-header {
  ion-toolbar {
    --background: black;

    ion-title {
      display: flex;
      align-items: left;

      ion-icon {
        margin-right: 8px;
      }
    }

    ion-buttons {
      margin-left: 16px;
    }
  }
}

.min {
  background-color: red;
  @media (min-width: 500px) {
    display: none !important;
  }

  @media (max-width: 1000px) {
    display: contents !important;
  }
}
