ion-card{
    background: #635e5e;
}
ion-footer {
    ion-toolbar {
        padding: 0 3px;
        ion-textarea {
            border: 1px solid var(--ion-color-medium);
            border-radius: 20px;
            margin: 0.5vh 0;
        }
    }
}

ion-button{
    --background: white;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}
.timepicker-backdrop-overlay { 
    z-index: 10000000 !important;
}