<ion-header>
  <ion-toolbar color="dark">
    <ion-searchbar placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="light-grey-button" expand="block" style="--background: #635e5e;" (click)="goToTodayPage()">
          <ion-icon name="today-outline" style="font-size: 100px;"></ion-icon> Today
        </ion-button>

      </ion-col>
      <ion-col size="6">
        <ion-button class="light-grey-button" expand="block" style="--background: #635e5e;" (click)=" goToTodayScheduled()">
          <ion-icon name="calendar-outline" style="font-size: 100px;"></ion-icon> Scheduled
        </ion-button>
        
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button class="light-grey-button" expand="block" style="--background: #635e5e;" (click)="goToTodayAll()" >
        <ion-icon name="file-tray-full-outline" style="font-size: 100px;"></ion-icon> ALL
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="light-grey-button" expand="block" style="--background: #635e5e;" (click)="goToTodayCompleted()">
          <ion-icon name="checkmark-done-outline" style="font-size: 100px;"></ion-icon> Completed
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h3>My Lists</h3>
      </ion-col>
    </ion-row>

  </ion-grid>

 

</ion-content>

