

.light-grey-button {
  --ion-background-color: #ccc; /* Light grey color */
  --ion-text-color: #333; /* Text color */
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  --width: 100%; /* Full width */
  --transition: background-color 0.5s, color 0.5s;
  --cursor: pointer;
  margin: 5px;
}

.light-grey-button:hover {
  --ion-background-color: #ddd; /* Light grey color on hover */
  --ion-text-color: #444; /* Text color on hover */
}

.custom-fab-button {
  --background: #FF7C00; /* Button background color */
  --ripple-color: #FF7C00; /* Ripple color */
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.custom-fab-button:hover {
  transform: scale(1.1);
}